* {
    box-sizing: border-box;
  }
  
  a.menu {
      color: black;
      font-weight: bolder;
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      text-decoration: none
    }
  a.linkReceita {
    color: white;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 12px
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    padding-top: 5vh;
  }
  
  header {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    position: fixed;
    top:0;
    box-shadow: black;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    padding: 20px;
  }
  
  main {
    background-color: gainsboro;
    width: 100%;
    margin-top: 82px;
    padding: 24px;
  }
  
  footer {
    background-color: white;
    text-align: center;
    width: 100%;
    border: none;
    padding: 30px;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
  }
  
  .whatsapp{
    width: 50px;
    position: fixed;
    right: 0; 
    bottom: 0;
    z-index: 2;
    border: none;
    background-color: transparent;
  }

  .container1{
    display:flex;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-height: 100% ;
    margin-top:85px;
    min-height: calc(100vh - 144px);
    box-shadow: black;
    }

    .texto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px;
      background-color: white;
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 50px;
    }

    .receitaBolos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px;
      background-color: white;
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 50px;
    }

@media(min-width:500px){
  .texto{
    margin-top: 10px;
  }
}
    .card{
      display: flex;
      max-width: 300px;
      height: 200px;
      font-weight: normal;
      }

      .cardReceitas {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: 200px;
        font-weight: normal;
        }
      
    .receitas{
        max-width: 100%;
    }

    button.btn-whats{
        position: fixed;
        right: 0; 
        bottom: 0;
        z-index: 2;
        border: none;
        background-color: transparent;
    }
  
    button {
      border-radius: 10px;
      border-color:#b8e994;
      background-color: #b8e994;
      width: 150px;
      height: 30px;
      font-size: 15px;
      font-weight: bolder;
      color: white;
      margin-top: 10px;
    }
  
    img {
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 80%;
      border-radius: 15px;
      padding-top: 2vh;
    }

    img.chef {
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 300px;
      border-radius: 25px;
      padding-top: 2vh;
    }

    img.receitaPag {
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 60%;
      border-radius: 15px;
      padding-top: 2vh;
    }

    img.receitas {
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 90%;
      border-radius: 15px;
      padding-top: 2vh;
    }

    img.contato {
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 70%;
      height: auto;
      border-radius: 25px;
      padding-top: 2vh;
    }

    h1 {
    color: black;
    margin-bottom: 2px;
    }

    .sobreTexto {
      text-align: center;
      margin-top: 110px;
    }

    .contatoTexto {
      text-align: center;
      margin-top: 2px;
    }

    .receitaTexto {
      display: flex;
      flex-direction: column;
      margin: 10%;
      text-align: left;
    }